{%extends "layout.html"%}
{% block content %}
<div class="search">
     <h1>Search</h1>
     <p>For location, please put in either City, State or Latitude, Longitude
         (i.e. San Jose, CA or 37.3382, 121.8863). For query, just put in
     whatever your heart desires (coffee, tacos, etc.). </p>
    <form action = /query method="POST">
        <label for="floc">Location:</label><br>
        <input type="text" id="floc" name="floc"><br>
        <label for="fquery">Query:</label><br>
        <input type="text" id="fquery" name="fquery"<br>
        <input type="submit" value="Submit">
    </form>
<div>
{%endblock%}